@use '../utils/utils' as *;

body {
  background-color: $mediumGrey;
}
section {
  background-color: $clearGrey;
  width: 90%;
  margin: auto;
  padding: 2rem;
  border-radius: 20px;
}
h1 {
  @include font-title(3rem);
  text-align: center;
  padding: 2rem;
}
h2 {
  @include font-title();
  text-align: center;
  margin: 4rem;
}
a {
  display: inline-block;
  @include font();
  margin: 0.5rem;
  color: inherit;
  text-decoration: none;
}
p {
  @include font();
  padding: 1rem;
}
ul {
  padding: 0;
}
li {
  @include font();
  margin-bottom: 1rem;
}
