@use '../../utils/utils' as *;

.competenceCard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin: auto;
  gap: 10rem;
  margin-bottom: 1rem;
  transform: scale(1);
  transition: transform 0.3s;

  &:hover {
    transform: scale(1.05);
    border-left: 3px solid $color-secondary;
  }

  img {
    border-radius: 10px;
  }
  p {
    width: 50%;
  }
}
