@use '../../utils/utils' as *;

.project__link {
  width: 175px;
  padding: 0.75rem;
  @include font();
  text-align: center;
  cursor: pointer;
  background-color: $color-primary;
  border: 1px solid transparent;
  border-radius: 10px;
  transition: border 0.15s ease-in-out;
  &:hover {
    border: 1px solid $textColor;
  }
}
