@use '../../utils/utils' as *;

.contactSection {
  background-color: $color-primary;

  > div {
    display: flex;
    justify-content: space-around;
  }

  .socialGallery {
    display: flex;
    justify-content: space-around;
    border-top: 3px solid $color-secondary;
  }
  .cvDiv {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .cvIcn {
    width: 100%;
    border-top: 3px solid $color-secondary;
    text-align: center;
  }
  img {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}
