@use '../../utils/utils' as *;

.contactSection {
  background-color: $color-primary;

  > div {
    display: flex;
    justify-content: space-around;
    @media (max-width: 785px) {
      flex-direction: column;
    }
  }
  h2 {
    @include font-title();
    text-align: center;
    margin: 2rem;
  }
  .socialGallery {
    display: flex;
    justify-content: space-around;
    border-top: 3px solid $color-secondary;
  }
  .contact_icn {
    position: relative;
    width: 150px;
    height: 150px;
    @include mobile-screen {
      height: 100px;
    }
  }
  .cvDiv {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @media (max-width: 785px) {
      width: 100%;
    }
  }
  .cvIcn {
    width: 100%;
    border-top: 3px solid $color-secondary;
    text-align: center;
  }
  img {
    transform: scale(1);
    transition: transform 0.3s ease-in-out;

    &:hover {
      transform: scale(1.05);
    }
  }
}
