@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

$color-primary: #fdf8f0;
$color-secondary: #e6d2b9;
$textColor: #212529;

@mixin font-title($size: 2rem, $weight: 700) {
  font-family: 'Merriweather', serif;
  color: $textColor;
  font-size: $size;
  font-weight: $weight;
}

@mixin font($size: 1.25rem, $weight: 400) {
  font-family: 'Roboto', sans-serif;
  color: $textColor;
  font-size: $size;
  font-weight: $weight;
}
